vendor
vendor/*
vendor/**
composer.lock
package-lock.json
node_modules
wordpress-block-react/build
wordpress-block-react/build/*
wordpress-block-react/node_modules
wordpress-block-react/node_modules/*