{
 "ignorePatterns": [
   "../../wordpress-block-react/node_modules/**/*.css",
   "../../wordpress-block-react/build/*.css",
 ],
 "extends": "stylelint-config-standard",
 "rules": {
  "indentation": 2
 }
}
